.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    margin-top: 50px;
}

.product-item img {
    width: 200px;
    height: 350px;
    margin-bottom: 10px;
}

.product-details h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-details p {
    margin: 5px 0;
}
